button{    
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}

.first-btn > button{
    background-color: $color2;
    border: 1px solid $color2;
}
.second-btn > button{
    border: 1px solid $color2;
    background-color: transparent;
}

.h-v-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


// word enfasi

.word-enfasi{
    color: $color2;
    background-color: rgba(3, 132, 131, 0.1);
    padding: 10px 15px;
    border-radius: 7px;
}

.title-area{
    color: $color2;
    font-size: 15px;
}

h2{
    font-size: 50px;
    font-weight: 600;
}