// IMPORT BOOTSTARP
@import '~bootstrap/scss/bootstrap';

// IMPORT FONT
@import '~@fontsource/metropolis/200.css';
@import '~@fontsource/metropolis/300.css';
@import '~@fontsource/metropolis/400.css';
@import '~@fontsource/metropolis/500.css';
@import '~@fontsource/metropolis/900.css';

img{
    max-width: 100%;
}
ul{
    margin: 0px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
body { 
    font-family: "Metropolis";
}